

@font-face {
	font-family: 'SyndicateWarsFullRegular';
	src: url('font/syndicate_wars_full_200_opentype-webfont.eot');
	src: local('☺'), url('font/syndicate_wars_full_200_opentype-webfont.woff') format('woff'), url('font/syndicate_wars_full_200_opentype-webfont.ttf') format('truetype'), url('font/syndicate_wars_full_200_opentype-webfont.svg#webfontVFPDM5GX') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: black;
	color: green;
}

#enterprise {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

#map {
	width: 100%;
	height: 100%;
	margin-left: 215px;
}

#hud {
  	font-family:SyndicateWarsFullRegular,sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	width: 197px;
	bottom: 0;
	color: rgba(0, 255, 100, 0.8);
	border: 0;
	padding: 40px 8px 0;
	background: black url(../img/hud.jpg) no-repeat 50% 0;
}

.characters {padding:10px 0 70px;overflow:hidden}

#toggleAll {
  content:url(../img/button.png);
  position:absolute;
  top:336px;left:58px;
}
#toggleAll:active {
  top:335px; opacity:0.9;
}

#moreCowbell {
  content:url(../img/roundbutton.png);
  position:absolute;
  top:556px;left:138px;
}
#moreCowbell:active {
  top:557px;opacity:0.9;
}

div.character {
	position: relative;
	background: url(../img/hudplayer.jpg) no-repeat 50% 50%;
	float: left;
	width: 80px;
	height: 120px;
	margin: 0 0 8px 8px;
	border: 2px solid black;
	font-size: 100px;
	xfont-family: helvetica, arial, sans-serif;
	text-align: center;
	z-index: 1;
	cursor: default;
	color:rgba(255,200,10,0.5);
	user-select: none;
	-o-user-select:none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	
	-webkit-border-radius: 10px 0 / 10px 0;
	-moz-border-radius: 10px 0 / 10px 0;
	
	
}
div.character.selected {
	border: 2px solid #3fa;
	color: rgba(0, 255, 100, 0.8);
	-webkit-box-shadow: inset 0 0 5px white;

	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	  
}

div.character div.img {
	position: absolute;
	width: 26px;
	height: 45px;
	left: 50px;
	top: 2px;
	background: url("../img/characters/character.png") no-repeat scroll -12px -7px rgba(0,0,0,0.5);
	border: 1px solid black;
	cursor: default;
}

div.character div.status {
	position: absolute;
	border: 1px inset rgba(255,0,0,0.5);
	height: 15px;
	bottom: 0;
	width: 76px;
	margin: 1px;
	font-size: 11px;
	color: red;
	background-color: rgba(55, 0, 0, 0.3);
	
	-webkit-border-radius: 0 0 10px 0;

}

div.character div.progress {
	position: absolute;
	height: 15px;
	bottom: 0;
	width: 0;
	background-color: rgba(255, 0, 0, 0.4);
	top: 103px;
	left: 1px;
}

label {
	color: white; text-shadow: 1px 1px 0 black;
    background: rgba(100,200,255,0.4);
}

#hud-map {
	position: absolute;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	opacity:0.5;
	top: 600px;
	left: 16px;
	width: 172px;
	height: 137px;
	border: 2px inset orange;
	background: url(../img/maps/minimap.png) no-repeat;
}
#hud-mini-focus {
	position: absolute;
	width: 50px;
	height: 30px;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -25px;
	border: 1px solid red;
}



